
.dropdown
  position: absolute
  left: 0
  min-width: 200px
  min-height: 200px
  z-index: 100
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.4)
  overflow: hidden



.glass
  min-width: 200px
  min-height: 200px
  background-color: rgba(15, 32, 41, 0.95)
