$bar-close: rgb(252, 98, 93)
$bar-min: rgb(254, 192, 65)
$bar-expand:  rgb(53, 203, 75)
$bar-gradient1: rgb(236,235,236)
$bar-gradient2: rgb(210,210,210)
$bar-border: rgb(189,189,189)

$tab-inactive-border: rgb(160,160,160)
$tab-inactive-back: rgb(190,190,190)

$terminal-background: rgb(7, 46, 58)
$text-color: #97a8ab
$link: #268bd2


=gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%)
	background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent)
	background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent)
	background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent)
	background-repeat: repeat-x
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0)
