.flex-row
	display: flex
	margin: 10px 0 10px 35px

.row-block
	padding: 0 0 20px

.cell
	text-align: justify
	align-self: center

	&.sm
		min-width: 20%

	&.md
		min-width: 30%

	&.fill
		flex-grow: 1

	img
		width: auto
		max-height: 150px
		border-radius: 6px
		cursor: zoom-in
		padding: 0 5px

.cell-logo
	display: flex
	align-items: center

	span
		margin-left: 10px

.result-area
	color: $text-color
	font-weight: lighter
	word-break: normal
  text-align: justify

	p
		word-break: normal
	  text-align: justify

	pre
		font-family: Menlo-Regular

	h4
		font-weight: lighter
		text-transform: uppercase

	a
		color: $link
		word-break: break-all
		text-decoration: none

.ascii-art
	font-family: Menlo-Regular
	font-size: 0.6em

.item-img
	max-width: 200px
	border-radius: 6px
	margin-left: 35px

.cell-list
	padding-left: 14px

	li
		padding: 4px 0

.tag
	color: #fff
	opacity: .8
	padding: 5px 15px
	margin: 0 15px 5px 0
	font-size: .9em
	border-radius: 20px

	&.topic
		background-color: rgba(156, 39, 176, 0.65)

	&.lang
		background-color: rgba(0, 184, 212, 0.65)

.large-img
	margin: 10px 0
	max-width: 100%
	max-height: 500px
	border-radius: 3px
	box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12)
