main
  max-width: 100%
  min-height: calc(100vh - 44px)
  padding: 54px 0 0
  cursor: text
  overflow-x: hidden

  .content
    max-width: 750px

.input-item
  color: white
  font-family: Menlo-Regular
  font-size: 0.7em
  padding: 4px 2px 4px 8px

  &.with-input
    min-height: calc(100vh - 54px)

  p
    text-align: justify
    word-break: break-all
    margin: 2px 0 2px



.input-area
  position: relative
  display: flex
  align-items: flex-start
  margin-bottom: 1px

  textarea
    flex-grow: 1
    padding: 0 8px
    margin: 0
    font-family: Menlo-Regular
    background-color: transparent
    border: none
    resize: none
    outline: none
    font-size: 1em
    color: transparent
    text-shadow: 0 0 0 rgb(131, 148, 150)

  p
    word-break: break-all
    flex-grow: 1
    padding: 0 8px
    margin: 0
    color: rgb(131, 148, 150)


.caret
  position: absolute
  bottom: 0
  left: 8px
  height: 13px
  color: transparent
  transform: translate(100%, 0)
  background-color: rgb(131, 148, 150)
  animation: blinker 1s steps(2, start) infinite

  &.focus-out
    width: 6.73px
    border: 1px solid rgb(131, 148, 150)
    background-color: transparent
    animation: none


.close
  font-weight: 100
  color: rgba(90,144,159,1)

  &.left
    margin-left: -7px

  &.right
    margin-right: -7px


.yellow
  color: rgb(213, 169, 64)

.orange
  color: rgb(253, 133, 61)

.green
  color: rgb(138, 175, 64)

.purple
  color: rgb(144, 143, 224)


#pdf
  display: none
  width: 0
  height: 0

@keyframes blinker
  to
     visibility: hidden
